@import "../app/settings";

.table {
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

.table-styles {
    tr * {
        text-align: center;
        word-break: break-all;
    }

    tr :first-child {
        word-break: initial;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    tr :last-child {
        word-break: initial;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}

.table-body {
    tr {
        border-radius: 0.25rem;
        background-color: $tertiary-color;

        svg {
            color: $secondary-color;
            cursor: pointer;
        }

        svg:hover {
            color: $primary-color;
        }
    }
}