@import "./settings";

/* bootstrap the customizations */
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((0: 0,
        1: ($spacer * .5),
        2: $spacer,
        3: ($spacer * 1.5),
        4: ($spacer * 2),
        5: ($spacer * 3)),
    $spacers);

$theme-colors: ("primary": $primary-color,
    "secondary": $secondary-color,
    "success": $tertiary-color,
    "light": $white-color,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

h1 {
    font-family: 'Roboto Mono', sans-serif;
    line-height: 1;
    letter-spacing: 0.4rem;
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto Mono', sans-serif;
    line-height: 1;
    letter-spacing: 0.2rem;
    font-size: 1.424rem;
    font-weight: 600;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-size: 1.424rem;
    font-weight: 700;
}

h4,
th,
label,
    {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-size: 1.125rem;
    font-weight: 600;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
}

button,
td,
a {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-size: 1rem;
    font-weight: 400;
}

a {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-size: 1rem;
    font-weight: 500;
}

/* // phones */
@media screen and (max-width: 576px) {
    html {
        font-size: 16px;
    }
}

/* // portrait tablets */
@media screen and (min-width: 577px) and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* // landscape tablets */
@media screen and (min-width: 769px) and (max-width: 992px) {
    html {
        font-size: 18px;
    }
}

/* // small desktop */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    html {
        font-size: 18px;
    }
}

/* // big desktops */
@media screen and (min-width: 1201px) {
    html {
        font-size: 20px;
    }
}