@import "../app/settings";

.canvas {
    max-width: 100vw;
    // * The 2.375 is from 1.375rem of the font + 1rem of padding
    min-height: calc(100vh - 2.375rem);
    background-color: $white-color !important;
}